@charset "UTF-8";
@font-face {
  font-family: 'Komika';
  src: url("../../fonts/Komika.eot");
  src: local("☺"), url("../../fonts/Komika.woff") format("woff"), url("../../fonts/Komika.ttf") format("truetype"), url("../../fonts/Komika.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.row-equal-height {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

h1, h2, h3, h4, h5, h6 {
  font-family: Komika; }

header {
  position: relative;
  z-index: 9999; }
  header nav {
    height: 89px;
    background: url("../../images/top-branding.png") repeat-x; }
    header nav ul {
      float: right;
      list-style: none;
      margin-top: 10px; }
      header nav ul li {
        float: left;
        margin-right: 40px; }
        header nav ul li:last-child {
          margin-right: 0; }
        header nav ul li a {
          color: #761213;
          font-family: "Komika"; }
          header nav ul li a:hover {
            color: #333;
            text-decoration: none; }
  header .logo {
    margin-top: -100px; }

.Slideshow {
  width: 100%;
  height: 520px;
  margin-top: -133px;
  position: relative;
  background: url("../../../images/slide-bg.jpg") repeat-x; }

.Slideshow__content {
  margin-top: 200px; }

.Slideshow__intro-text {
  color: #faa31b;
  font-size: 55px; }

.Slideshow__images {
  float: right;
  margin-top: -100px; }

.Slideshow__bottom-bg {
  width: 100%;
  height: 26px;
  position: absolute;
  bottom: 0;
  background: url("../../../images/bottom-branding.png") repeat-x; }

.Fancy__Burgers .Fancy__Burgers--title {
  color: white;
  text-align: center;
  margin: 40px 0; }
  .Fancy__Burgers .Fancy__Burgers--title span {
    width: 301px;
    height: 49px;
    padding: 0 30px;
    background: url("../../../images/title-bg.png") no-repeat; }

.Fancy__Burgers .Burgers {
  margin-top: 40px; }
  .Fancy__Burgers .Burgers .hand {
    width: 167px;
    height: 124px;
    top: -40px;
    right: 0;
    z-index: 9999;
    position: absolute;
    background: url("../../../images/hand.png") no-repeat; }

.Fancy__Burgers .Burgers__Burger {
  margin-bottom: 20px; }

.ViewMenu h3 {
  font-size: 20px;
  text-align: center;
  top: 50px;
  z-index: 9999;
  line-height: 26px;
  position: relative; }
  .ViewMenu h3 span {
    width: 100px;
    height: 100px;
    background: #faa31b;
    border-radius: 100%;
    padding: 19px 20px;
    border: 5px solid white;
    display: inline-block; }
  .ViewMenu h3 a {
    color: white; }
    .ViewMenu h3 a:hover {
      color: white; }
      .ViewMenu h3 a:hover span {
        box-shadow: 0px 0px 10px #faa31b; }

.Contact {
  width: 100%;
  height: 420px;
  background: url("../../../images/nuggets.jpg") no-repeat; }

.Contact__content {
  height: 100%; }
  .Contact__content p {
    color: white;
    text-align: center; }

.Contact__title {
  font-size: 26px;
  font-family: "Komika"; }

.Contact__number {
  font-size: 34px;
  font-family: "Komika"; }

.Contact__bg {
  height: 100%;
  background: rgba(118, 18, 19, 0.8);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.Ingredients {
  width: 100%;
  height: 420px;
  background: url("../../../images/ingredients.jpg") no-repeat; }

.Ingredients__content {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.Menus {
  margin: 40px 0px; }

.Menus__content {
  background: #faa31b; }
  .Menus__content h3 {
    font-size: 36px;
    color: #761213;
    text-align: center;
    padding: 20px 0px; }

.Menus__eating {
  width: 100%;
  height: 558px;
  padding-right: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url("../../../images/eating-burger.png") no-repeat; }
  .Menus__eating p {
    color: white;
    font-size: 26px;
    font-family: "Komika";
    padding: 10px 20px;
    letter-spacing: 5px;
    border-top: 2px solid white;
    border-bottom: 2px solid white; }

.Menu {
  margin-bottom: 60px; }

.Menu__list {
  padding-right: 40px;
  margin-top: 30px; }

.Menu__price {
  color: #761213;
  font-size: 17px;
  text-align: center;
  font-family: "Komika"; }

.no-spacing {
  margin: 0; }
  .no-spacing .col-md-6 {
    padding: 0; }

footer {
  width: 100%;
  height: 280px;
  background: url("../../../images/footer-bg.jpg") repeat-x; }

.Footer__content {
  padding: 40px 0px; }
  .Footer__content ul {
    list-style: none;
    padding-left: 0; }
    .Footer__content ul li {
      line-height: 24px; }
      .Footer__content ul li a {
        color: white; }
        .Footer__content ul li a:hover {
          color: #faa31b;
          text-decoration: none; }

.Footer__title {
  color: white;
  font-weight: bold;
  font-family: Arial;
  margin-bottom: 40px; }

.Footer__social li {
  float: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 15px; }
  .Footer__social li a {
    color: #333 !important;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    display: block; }
    .Footer__social li a i {
      margin-top: 12px; }
    .Footer__social li a:hover {
      color: white !important;
      background: #faa31b; }

.Footer__subscribe {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .Footer__subscribe .Footer__title {
    font-size: 18px;
    margin-bottom: 0; }
    .Footer__subscribe .Footer__title span {
      color: #faa31b;
      font-family: "Komika";
      display: block; }
    .Footer__subscribe .Footer__title a {
      color: white; }
      .Footer__subscribe .Footer__title a:hover, .Footer__subscribe .Footer__title a:focus {
        color: white;
        text-decoration: none; }

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(250, 163, 27, 0.9); }

/* Overlay closing cross */
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 60px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../../images/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100; }

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative; }

.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.overlay ul li a {
  font-size: 36px;
  font-weight: 300;
  font-family: "Komika";
  display: block;
  color: #761213;
  transition: color 0.2s; }

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #212121;
  text-decoration: none; }

/* Effects */
.overlay-slidedown {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s; }

.overlay-slidedown.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  z-index: 9999; }

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px; }
  .overlay ul li {
    min-height: 34px; } }

/* Large desktops and laptops */
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .Slideshow__intro-text {
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px; }
  .Slideshow__content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 150px; }
  .Slideshow__images {
    float: none;
    margin-top: 0; }
  .Footer__content .row-equal-height {
    display: block; } }

/*# sourceMappingURL=app.css.map */
