@font-face {
	font-family: 'Komika';
	src: url('../../fonts/Komika.eot');
	src: local('☺'), url('../../fonts/Komika.woff') format('woff'), url('../../fonts/Komika.ttf') format('truetype'), url('../../fonts/Komika.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

$darkRed: #761213;
$orange: #faa31b;
$gray: #333;
$font: 'Komika';

h1, h2, h3, h4, h5, h6 {
	font-family: Komika;
}

header {
	position: relative;
	z-index: 9999;
	nav {
		height: 89px;
		background: url('../../images/top-branding.png') repeat-x;	

		ul {
			float: right;
			list-style: none;
			margin-top: 10px;
			li {
				float: left;
				margin-right: 40px;
				&:last-child {
					margin-right: 0;
				}
				a {
					color: $darkRed;
					font-family: $font;
					&:hover {
						color: $gray;
						text-decoration: none;
					}
				}
			}
		}
	}

	.logo {
		margin-top: -100px;
	}

}

.Slideshow {
	width: 100%;
	height: 520px;
	margin-top: -133px;
	position: relative;
	background: url('../../../images/slide-bg.jpg') repeat-x;
}

.Slideshow__content {
	margin-top: 200px;
}

.Slideshow__intro-text {
	color: $orange;
	font-size: 55px;
}

.Slideshow__images {
	float: right;
	margin-top: -100px;
}

.Slideshow__bottom-bg {
	width: 100%;
	height: 26px;
	position: absolute;
	bottom: 0;
	background: url('../../../images/bottom-branding.png') repeat-x;
}


.Burgers {
	.Burgers__title {
		color: white;
		text-align: center;
		margin: 40px 0;
		span {
			width: 301px;
			height: 49px;
			padding: 0 30px;
			background: url('../../../images/title-bg.png') no-repeat;
		}
	}

	.Burgers__list {
		margin-top: 40px;
		.hand {
			width: 167px;
			height: 124px;
		    top: -40px;
		    right: 0;
		    z-index: 9999;
			position: absolute;
			background: url('../../../images/hand.png') no-repeat;
		}
	}
}

.ViewMenu {
	h3 {
		font-size: 20px;
		text-align: center;
		top: 50px;
		z-index: 9999;
		line-height: 26px;
		position: relative;
		span {
			width: 100px;
			height: 100px;
			background: $orange;
			border-radius: 100%;
			padding: 19px 20px;
			border: 5px solid white;
			display: inline-block;
		}

		a {
			color: white;
			&:hover {
				color: white;
				span {
					box-shadow: 0px 0px 10px $orange;
				}
			}
		}

	}
}

.Contact {
	width: 100%;
	height: 342px;
	background: url('../../../images/nuggets.jpg') no-repeat;
}

.Contact__content {
	height: 100%;
	p {
		color: white;
		text-align: center;
	}
}

.Contact__title {
	font-size: 26px;
	font-family: $font;
}

.Contact__number {
	font-size: 34px;
	font-family: $font;
}

.Contact__bg {
	height: 100%;
	background: rgba(118,18,19, 0.8);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Ingredients {
	width: 100%;
	height: 342px;
	background: url('../../../images/ingredients.jpg') no-repeat;
}

.Ingredients__content {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Menus {
	margin: 40px 0px;
}

.Menus__content {
	background: $orange;

	h3 {
	    font-size: 36px;
		color: $darkRed;
	    text-align: center;
	    padding: 20px 0px;
	}
}

.Menus__eating {
	width: 100%;
	height: 558px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('../../../images/eating-burger.png') no-repeat;

	p {
		color: white;
		font-size: 26px;
		font-family: $font;
		padding: 10px 20px;
		letter-spacing: 5px;
		border-top: 2px solid white;
		border-bottom: 2px solid white;
	}
}

.Menu {
	margin-bottom: 60px;
}

.Menu__list {
	padding-right: 40px;
	margin-top: 30px;
}

.Menu__price {
	color: $darkRed;
	font-size: 17px;
	text-align: center;
	font-family: $font;
}

.no-spacing {
	margin: 0;
	.col-md-6 {
		padding: 0;
	}
}

footer {
	width: 100%;
	height: 280px;
	background: url('../../../images/footer-bg.jpg') repeat-x;
}

.Footer__content {
	padding: 40px 0px;

	ul {
		list-style: none;
		padding-left: 0;
		li {
			line-height: 24px;
			a {
				color: white;
				&:hover {
					color: $orange;
					text-decoration: none;
				}
			}
		}
	}
}

.Footer__title {
	color: white;
	font-weight: bold;
	font-family: Arial;
	margin-bottom: 40px;
}

.Footer__social {
	li {
		float: left;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 15px;
		a {
			color: #333 !important;
			text-align: center;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background: white;
			display: block;
			i {
				margin-top: 12px;
			}
			&:hover {
				color: black !important;
				background: $orange;
			}
		}
	}
}




























